<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GO TT</title>
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/new">New</a>
    </nav>
    <!-- TODO From API
    + display arrows to navigate from week to week 
    + button to show the whole month / periode -->
    <main role="main" class="container">
      <div class="mt-5">
        <h1>GO TT</h1>
        <h5>23 june 2021 - 28 june 2021</h5>
        <div class="row mt-5">
          <div class="col tile">
            <h4>Monday 23</h4>
            <div class="buttons">
              <div class="btn btn-primary button" onpress="TODO">Nils is Remote</div>
              <div class="btn btn-primary button" onpress="TODO">Hermy is Remote</div>
            </div>
          </div>
          <div class="col tile">
            <h4>Tuesday 24</h4>
            <div class="buttons">
              <div class="btn btn-danger button" onpress="TODO">Nils is at work</div>
              <div class="btn btn-primary button" onpress="TODO">Hermy is Remote</div>
            </div>
          </div>
          <div class="col tile">
            <h4>Wednesday 25</h4>
            <div class="buttons">
              <div class="btn btn-primary button" onpress="TODO">Nils is Remote</div>
              <div class="btn btn-danger button" onpress="TODO">Hermy is at work</div>
            </div>
          </div>
          <div class="col tile">
            <h4>Thursday 26</h4>
            <div class="buttons">
              <div class="btn btn-danger button" onpress="TODO">Nils is at work</div>
              <div class="btn btn-success button" onpress="TODO">Hermy is Off</div>
            </div>
          </div>
          <div class="col tile">
            <h4>Friday 27</h4>
            <div class="buttons">
              <div class="btn btn-primary button" onpress="TODO">Nils is Remote</div>
              <div class="btn btn-danger button" onpress="TODO">Hermy is at work</div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <p>
          Nils is <b>2</b> days at the office, <b>3</b> days remote <br/>
          Hermy is <b>2</b> days at at the office, <b>2</b> days remote and <b>1</b> off <br/>
          During the month, Hermy will be at work <b>1</b> monday and <b>2</b> friday (total <b>12</b> days at the office) <br/>
          During the month, Nils will be at work <b>2</b> monday and <b>0</b> friday (total <b>13</b> days at the office) <br/>
        </p>
      </div>
    </main>
    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>